.pros {
  margin-left: 50%;
  height: 100px;
}
.cons {
  margin-left: 50%;
  height: 100px;
}
.comparison {
  display: flex;
  align-items: center;
  width: 50%;
}


body {
  background-image: url("../images/AdventureTime.webp");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: large;
}
